---
---
@import "main";

* {
    margin: 0;
    padding:0;
    font-family: "Gill Sans","Trebuchet MS", "MS Sans Serif", sans-serif;
    text-decoration: none;
  }

// html {
//     background-image: url("/assets/images/background.jpg");
//     background-repeat: repeat;
// }

body {
    background-color: rgba(234, 234, 234, 0.97);
    margin-bottom: 0;
    // background-image: url("/assets/images/background.jpg");
    // background-repeat: repeat;
}

nav {
    background-color: rgb(175, 175, 175);
    padding-left: 16%;
    margin-bottom: 50px;
}

    nav a {
        display: inline-block;
        padding: 20px 15px;
        color: black;
    }

        nav a.current {
            background-color: rgba($color: #ffffff, $alpha: .4);
            border-bottom: 5px solid rgb(56, 56, 56);
            color:rgb(56, 56, 56);
        }

        nav a:hover {
            border-bottom: 5px solid black;
        }

#content {
    width: 50%;
    min-width: 450px;
    margin-bottom: 100px;
}

    #content h1 {
        font-size: 3rem;
    }

#extraContent {
    width: 75%;
    min-width: 450px;
    margin: auto 12.5%;
}

#sidebar {
    width: 15%;
    min-width: 210px;
    height: min-content;
    // border: 5px solid black;
    text-align: center;
    background-color: rgba($color: #a4a4a4, $alpha: .4);
    border-radius: 15%;
    padding: 20px 5px;
}

    #sidebar img {
        width: 40%;
        border-radius: 50%;
        border: 4px solid rgb(196, 196, 196);
    }

    #sidebar h2 {
        color: rgb(100,100,100);
    }

    #sidebar a {
        color: rgb(56, 56, 56);
        font-size: medium;
    }

        #sidebar a:hover {
            border-bottom: 2px solid rgb(56,56,56);
        }

p {
    font-size: large;
}